/* Basic Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
}

#root,
#__next {
  isolation: isolate;
}

/* Flexbox Reset */
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

/* Forms */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  color: inherit;
}

/* Remove default button styles */
button {
  -webkit-appearance: none; 
  -moz-appearance: none;    
  appearance: none;
}


/* Remove default outline on focused elements */
:focus {
  outline: none;
}

/* Set consistent border colors for form elements */
input,
textarea,
select,
button {
  border: 1px solid #ccc;
}

/* List Styles */
ol,
ul {
  list-style: none;
}

/* Table Styles */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  vertical-align: middle;
  padding: 0.5rem;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
